<header class="row mx-0 header justify-content-between align-items-baseline align-content-center">
    <div class="col-12 col-sm-auto order-3 order-sm-1">
        <!-- <button 
            class="receive-calls-btn" 
            id="receive-calls-btn"
            (click)="joinCall()"
            >
            Call Robot
        </button> -->
    </div>
    <div class="col-12 col-sm-auto order-2 order-sm-2">
        <p class="title">Incoming Calls</p>
    </div>
    <div class="col-12 col-sm-auto order-1 order-sm-3">
        <img class="dewa-logo" src="../../assets/images/dewa-logo.png" alt="dewa-logo">
    </div>
</header>