<div id="video-call" class="row mx-0 justify-content-center video-call-container">
    <div class="col-12 col-md-10 col-xl-6 px-0" *ngIf="callIsWorking">
        <div id="subscriber">
            <div id="publisher"></div>
            <app-voice-call *ngIf="isSecondPartyPublishedVoiceOnly"></app-voice-call>
            <app-call-controls
                (videoStatusChange)= "onVideoStatusChange($event)"
                (voiceStatusChange)= "onVoiceStatusChange($event)"
                (closeCall)= "onCloseCall()"    
            ></app-call-controls>
        </div>
    </div>
</div>